<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sunkai.heritage">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 以下是接入mipush所需要的一些权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="com.datong.heritage_online.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.datong.heritage_online.permission.MIPUSH_RECEIVE" />

    <application
        android:name=".Data.GlobalContext"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="InnerclassSeparator">
        <activity
            android:name=".Activity.WelcomeActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.LoginActivity"
            android:label="登录"
            android:theme="@style/LoginActivityTheme" />
        <activity
            android:name=".Activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".Activity.RegistActivity"
            android:label="注册"
            android:theme="@style/LoginActivityTheme" />
        <activity
            android:name=".Activity.JoinActivity"
            android:theme="@style/JoinActivityTheme" />
        <activity
            android:name=".Activity.ActivityInformationActivity"
            android:theme="@style/JoinActivityTheme" />
        <activity
            android:name=".Activity.UserCommentDetailActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Activity.FocusInformationActivity" />
        <activity
            android:name=".Activity.SearchActivity"
            android:label="搜索" />
        <activity
            android:name=".Activity.SettingActivity"
            android:label="设置" />
        <activity
            android:name=".Activity.AddFindCommentActivity"
            android:label="发帖" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.sunkai.heritage.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".Activity.PermissionsActivity" />
        <activity
            android:name=".Activity.UserOwnTieziActivity"
            android:label="我的帖子" />
        <activity android:name=".Activity.AboutUSActivity" />
        <activity android:name=".Activity.SettingListActivity" />

        <!-- 以下是接入mipush所需要的服务和receiver -->
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true"
            android:process=":pushservice" />
        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":pushservice" />
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />

        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>
        <!-- 以上是接入mipush所需要的服务和receiver -->


        <!-- 将自定义的Receiver注册到Manifest当中 -->
        <receiver
            android:name=".tools.DemoMessageReceiver"
            android:exported="true">

            <!-- 这里com.xiaomi.mipushdemo.DemoMessageRreceiver改成app中定义的完整类名 -->
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activity.OtherUsersActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".Activity.ViewIamgeActivity"
            android:theme="@style/translucent" />
        <activity android:name=".Activity.ModifyUsercommentActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.sunkai.heritage.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Activity.AllFolkInfoActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity android:name=".Activity.SeeMoreNewsActivity" />
        <activity android:name=".Activity.NewsDetailActivity"></activity>
    </application>

</manifest>