<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sunkai.heritage">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".tools.GlobalContext"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="InnerclassSeparator">
        <activity
            android:name=".Activity.WelcomeActivity"
            android:theme="@style/AppThemeNoActionBarNoBackground">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MONKEY"/>
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".Activity.LoginActivity.LoginActivity"
            android:label="登录"
            android:theme="@style/LoginActivityTheme" />
        <activity
            android:name=".Activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".Activity.RegistActivity"
            android:label="注册"
            android:theme="@style/LoginActivityTheme" />
        <activity
            android:name=".Activity.FolkInformationActivity"
            android:theme="@style/JoinActivityTheme" />
        <activity
            android:name=".Activity.UserCommentDetailActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Activity.FocusInformationActivity" />
        <activity
            android:name=".Activity.SearchActivity"
            android:label="搜索" />
        <activity
            android:name=".Activity.AddFindCommentActivity"
            android:label="发帖"
            android:theme="@style/AppThemeNoBackGround" />
        <activity
            android:name=".Activity.UserOwnTieziActivity"
            android:label="我的帖子" />
        <activity android:name=".Activity.AboutUSActivity" />
        <activity
            android:name=".Activity.SettingListActivity"
            android:label="@string/setting" />
        <activity
            android:name=".Activity.OtherUsersActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity android:name=".Activity.ModifyUsercommentActivity" />
        <activity
            android:name=".Activity.AllFolkInfoActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".Activity.SeeMoreNewsActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity android:name=".Activity.NewsDetailActivity" />
        <activity android:name=".Activity.BottomNewsDetailActivity" />
        <activity
            android:name=".Activity.UserLikeCommentActivity"
            android:label="@string/my_like" />
        <activity
            android:name=".Activity.MyCollectionActivity"
            android:label="@string/my_collection" />

        <service
            android:name=".Service.PushService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".Activity.MyMessageActivity"
            android:label="@string/my_message" />
        <activity android:name=".Activity.SearchNewsActivity"
            android:theme="@style/AppThemeNoActionBarNoBackground"/>
    </application>

</manifest>