<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sunkai.heritage">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".tools.GlobalContext"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="InnerclassSeparator">
        <activity android:name=".activity.InheritateDetailActivity"></activity>
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MONKEY" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".activity.FolkInformationActivity"
            android:theme="@style/JoinActivityTheme" />
        <activity android:name=".activity.AboutUSActivity" />
        <activity
            android:name=".activity.AllFolkInfoActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activity.SeeMoreNewsActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity android:name=".activity.NewsDetailActivity" />
        <activity android:name=".activity.BottomNewsDetailActivity" />
        <activity
            android:name=".activity.ProjectDetailActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activity.ViewImageActivity"
            android:theme="@style/Theme.AppCompat.Translucent" />
    </application>

</manifest>